<div class="modal fade" id="comboProgressModal" tabindex="-1" aria-labelledby="comboProgressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title card-title" id="comboProgressModalLabel">Add Combo Progress</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="combo-progress-form">
                    <div class="form-group">
                        <label class="card-title" for="combo-date">Date</label>
                        <input type="date" class="form-control" id="combo-date" name="date" required>
                    </div>
                    <div class="form-group">
                        <label class="card-title" for="combo">Combo</label>
                        <select class="form-control" id="combo" name="combo" required>
                            <option value="" disabled selected>Select a combo</option>
                            {% for combo in current_user.combos %}
                                <option value="{{ combo.id }}">{{ combo.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="card-title" for="combo-attempts">Attempts</label>
                            <input type="number" class="form-control" id="combo-attempts" name="attempts" placeholder="Attempts" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="card-title" for="combo-successes">Successes</label>
                            <input type="number" class="form-control" id="combo-successes" name="successes" placeholder="Successes" required>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="card-title" for="combo-notes">Notes</label>
                        <input type="text" class="form-control" id="combo-notes" name="notes" placeholder="Notes">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Add Combo Progress</button>
                </form>
            </div>
        </div>
    </div>
</div>
