<!-- Modal for Adding New Entry -->
<div class="modal fade" id="progressModal" tabindex="-1" aria-labelledby="progressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title card-title text-dark" id="progressModalLabel">Add Trick Progress</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="progress-form">
                    <div class="mb-3">
                        <label class="card-title text-dark" for="date">Date</label>
                        <input type="date" class="form-control" id="date" name="date" required>
                    </div>
                    <div class="mb-3" id="trick-dropdowns">
                        <label class="card-title text-dark" for="trick">Trick</label>
                        <select class="form-control" id="trick" name="trick" required>
                            <option value="" disabled selected>Select a trick</option>
                            {% for move in moves %}
                                <option value="{{ move.move_name }}" data-move-id="{{ move.move_id }}">{{ move.move_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="card-title text-dark" for="attempts">Attempts</label>
                            <input type="number" class="form-control" id="attempts" name="attempts" placeholder="Attempts" required>
                        </div>
                        <div class="col-md-6">
                            <label class="card-title text-dark" for="successes">Successes</label>
                            <input type="number" class="form-control" id="successes" name="successes" placeholder="Successes" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="card-title text-dark" for="notes">Notes</label>
                        <input type="text" class="form-control" id="notes" name="notes" placeholder="Notes">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Entry</button>
                </form>
            </div>
        </div>
    </div>
</div>
