<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floor Underground Create</title>
</head>
<body>
{% extends 'layout.html' %}


{% block create %}


            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4">Create An Account</h2>
            </div>

            <div class="col-sm-12 col-md-8 col-lg-8 mx-auto">
                <form action="/create" method="post" class="mt-5">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" class="form-control" placeholder="Enter your password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                </form>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>

{% endblock %}
</body>
</html>