<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'layout.html' %}

{% block login %}
<section id="infinite" class="tm-section-pad-top tm-parallax-2">

      <div class="container tm-container-contact">

        <div class="row">

            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4">Create An Account</h2>
            </div>

            <div class="col-sm-12 col-md-6">
              <form action="/login" method="post" class="mt-5">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>
<br>
<form action="/create">
    <button type="submit" class="btn btn-primary">Create An Account</button>
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
            </div>



        </div><!-- row ending -->

      </div>

      	<footer class="text-center small tm-footer">
          <p class="mb-0">
          Copyright &copy; 2024 Floor Underground

          . <a rel="nofollow" href="https://www.tooplate.com" title="HTML templates">TOOPLATE</a></p>
        </footer>

    </section>


{% endblock %}


</body>
</html>